DATABASE_URL= "postgresql://postgres:your-password-here@localhost:5432/logit"
SECRET_KEY=your-secret-key-here
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_BUCKET_NAME=logit-photos
AWS_REGION=ap-northeast-2
