DATABASE_URL= your-DATABASE_URL
SECRET_KEY=your-secret-key-here
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_BUCKET_NAME=aws-AWS_BUCKET_NAME
AWS_REGION=ap-northeast-2
